<!DOCTYPE html>
<html>
<nav class = "nav">
  <ul>
    <li><a href="/spaces">LairBnB</a></li>
    <li style="float:right">Sign Out</li>
    <li style="float:right"><a href="/spaces/requests">Requests</a></li>
    <li style="float:right"><a href="/spaces/new">List a Space</a></li>
  </ul>
</nav>

<head>
  <link rel="stylesheet" href="/css/pick_a_date.css">
</head>

<body class='<%= @lair.name.downcase.sub(" ", "_") %>'>
  <div class="container">
    <div class="lairs">
      <h1>Lair: <%= @lair.name %></h1>
      <h4><%= @lair.description %></h4>
        <form action="/spaces/requests" method="post">
          <h2> Available days in <%= @month_text %>, <%= @year %> </h2>
          <h3>Pick a date: </<h3>
            <select name="days" id="day">
              <% @available_days.each do | day | %>
              <option value="<%= day %>"><%= day %></option>
                <% end %>
            </select>
          <input type="hidden" name="id" value="<%= @lair.id %>">
          <input type="hidden" name="month" value="<%= @month_text %>">
          <input type="hidden" name="year" value="<%= @year %>">
          <button class="request_button" type="submit" name="submit">Request to Book</button>
        </form>
    </div>
  </div>
</body>
</html>
