<!DOCTYPE html>
<html>
<nav class = "nav">
  <ul>
    <li>LairBnB</li>
    <li style="float:right">Sign Out</li>
    <li style="float:right"><a href="/spaces/requests"></a>Requests</li>
    <li style="float:right"><a href="/spaces/new">List a Space</a></li>
  </ul>
</nav>

<head>
  <link rel="stylesheet" href="/css/spaces.css">
</head>

<body>
  <h1>Hidden Lairs</h1>
  <form action="/spaces/new" method="get">
    <div class="container">
      <button class="add_button" type="submit" name="Add Space">Add Space</button>
    </div>
  </form>


  <ul>
    <% @space.each do |space| %>
    <div class="lairs">
      <h3><%= space.name %></h3>
      <article class="description"><%= space.description %></article>
      <br>
      <article class="price">£<%= space.price %></article>
      <br>
      <%# <%= space.startdate %>
      <%# <%= space.enddate %>
    </div>
      <br>
    <% end %>
  </ul>

</body>
