<h1>Hidden Lairs</h1>
<form action="/spaces/new" method="get">
<button type="submit" name="Add Space">Add Space</button>
</form>


<ul>
  <% @space.each do |space| %>
    Lair: <li><%= space.name %></li>
    Description: <li><%= space.description %></li>
    Price: <li><%= space.price %></li>
    Start Date: <li><%= space.startdate %></li>
    End Date: <li><%= space.enddate %></li>
    <br>
  <% end %>
</ul>
